/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

/*fonts*/
:root {
    --courier-prime: 'Courier Prime', monospace;
    --caveat-font: 'Caveat', cursive;
}
/*colours*/
:root{
    --primary-color: #ffffff;
    --secondary-color: #ED5565;
    --third-color: #212123;
}

html{
    scroll-behavior: smooth;
}
body{
    background: var(--third-color);
}

header{
    height: 40px;
    display: flex;
}
header a{
    align-items: center;
    padding-top: 10px;
    color: var(--primary-color);
    text-decoration: none;
    background: var(--secondary-color);
    width: 80px;
    height: 40px;
    font-family: var(--courier-prime);
    font-size: 20px;
}
header .block{
    background: var(--primary-color);
    width: 1400px;
}
header .block p{
    display: none;
}
.project-head{
    text-decoration: none;
    color: #ffffff;
    font-family: var(--caveat-font);
    font-size: 35px;
    height: 40px;
}
.project-desc{
    font-family: var(--courier-prime);
    font-size: 20px;
    color: #ffffff;
}
.project{
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
*, ::after, ::before {
    box-sizing: border-box;
}
.project-data{
    font-size: 20px;
    font-family: var(--courier-prime);
    position: relative;
    width: 20%;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    display: block;
    float: left;
    line-height: 24px;
    z-index: auto;
}
.project-data h6{
    font-size: 18px;
}
.row{
    color: #ffffff;
    display: flex;
}
.project-img{
    display: flex;
}
.project-img-1{
    height: 600px;
    width: 70%;
    margin-right: 20px;
}
.project-img-2{
    height: 600px;
    width: 350px;
}
.link{
    margin-top: 15px;
}
.link{
    color: #00acee;
    font-weight: bold;
    font-size: 18px;
    text-decoration: underline;
    font-family: var(--courier-prime);
}
@media screen and (max-width: 600px){
    .row{
        display: block;
    }
    .project-data{
        height: 100px;
        box-sizing: border-box;
        width: 300px;
        display: flex;
    }
    .project-data p{
        font-size: 25px;
        width: 100px;
    }
    .project-data h6{
        margin-top: 20px;
        height: 100px;
        font-size: 30px;
        padding-left: 60px;
    }
    .project-img-1{
        display: none;
    }
}

footer{
    height: 20vh;
    display: block;
    text-align: center;
}
footer p{
    color: var(--primary-color);
    font-size: 25px;
    font-family: var(--courier-prime);
}
.foot-link{
    text-decoration: underline;
    font-size: 25px;
    font-family: var(--courier-prime);
    color: var(--secondary-color);
}